.commentator-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/speech.svg");
  background-size: 100% 80%;
  background-repeat: no-repeat;
}

.comment, .joke {
  height: 57%;
  width: 70%;
  margin-top: 3.5vh;
  padding: 2rem;
  font-size: 1.3rem;
}

.commentator-gif {
  height: 35%;
  width: 40%;
  margin-left: auto;
  border-radius: 40% 40% 2% 2%;
}