.flex-page {
  width: 100%;
  height: 100%;
  display: flex;
}

.info-container {
  width: 25%;
}

.user-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
}

.ready-status-red{
  width: 2vh;
  height: 2vh;
  margin: 0 0.5rem;
  border-radius: 50%;
  background-color: #fd8484;
}

.ready-status-green{
  width: 2vh;
  height: 2vh;
  margin: 0 1rem;
  border-radius: 50%;
  background-color: #12BCB0;
}

.user-progress-bar {
  width: 100%;
  height: 5vh;
  border: 3px solid #000;
  margin-top: 0.5rem;
}

.user-progress {
  width: 50%;
  height: 100%;
  background: radial-gradient(#60efbc, #58d5c9);
}

.user-progress.finish {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.game-container {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-area {
  width: 90%;
  height: 80%;
  margin-top: 0.75vh;
  border: 5px solid;
  border-image: linear-gradient(135deg, #12BCB0 20%, #fd8484 70%);
  border-image-slice: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

#ready-btn {
  padding: 2rem;
  font-size: 3rem;
  background: radial-gradient(#60efbc, #58d5c9);
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

#timer {
  font-size: 6rem;
}

#text-container {
  font-size: 1.5rem;
  padding: 0 1rem;
  margin: auto;
}

#time-to-end {
  margin-left: auto;
  margin-right: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #7c7c7c;
}

.colorized {
  background-color: #12BCB0;
}

.underlined {
  text-decoration: underline #12BCB0;
  text-decoration-skip: none;
}